{%- liquid
  assign showing_localization = false
  assign has_contact_block = false
  assign non_contact_total = 0

  if section.settings.enable_language_selector and localization.available_languages.size > 1
    assign showing_localization = true
  endif
  if section.settings.enable_country_selector and localization.available_countries.size > 1
    assign showing_localization = true
  endif

  for block in section.blocks
    if block.type == 'contact'
      assign has_contact_block = true
    else
      assign non_contact_total = non_contact_total | plus: 1
    endif
  endfor
-%}

<footer
  class="wemust-footer section-footer__inner"
  style="--footer-logo-width: {{ section.settings.footer_logo_width }}px; --footer-logo-width-mobile: {{ section.settings.footer_logo_width_mobile }}px; --footer-bg-color: {{ section.settings.footer_bg_color }};"
>
  <div class="footer-container">
    <div class="footer-logo">
      {% if section.settings.footer_logo != blank %}
        {%- assign footer_logo_width_2x = section.settings.footer_logo_width | times: 2 -%}
        <img
          class="footer-logo-img"
          src="{{ section.settings.footer_logo | image_url: width: footer_logo_width_2x }}"
          alt="{{ section.settings.footer_logo.alt | default: shop.name | escape }}"
          width="{{ section.settings.footer_logo.width }}"
          height="{{ section.settings.footer_logo.height }}"
          loading="lazy"
        >
      {% else %}
        <p class="footer-logo-text">{{ shop.name }}</p>
      {% endif %}
    </div>

    <div class="footer-content">
      {% if non_contact_total > 0 %}
        <div class="footer-top-desktop">
          {%- assign content_index = 0 -%}
          {% for block in section.blocks %}
            {% unless block.type == 'contact' %}
              {%- assign content_index = content_index | plus: 1 -%}
              {% if content_index <= 4 %}
                {% render 'footer-block-wemust', block: block %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
      {% endif %}

      {% if non_contact_total > 4 or has_contact_block %}
        <div class="footer-bottom-section-desktop">
          {% if non_contact_total > 4 %}
            <div class="footer-bottom-left">
              {%- assign content_index = 0 -%}
              {% for block in section.blocks %}
                {% unless block.type == 'contact' %}
                  {%- assign content_index = content_index | plus: 1 -%}
                  {% if content_index > 4 %}
                    {% render 'footer-block-wemust', block: block %}
                  {% endif %}
                {% endunless %}
              {% endfor %}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            {% if block.type == 'contact' %}
              <div class="footer-contact-box-right" {{ block.shopify_attributes }}>
                {% if block.settings.title != blank %}
                  <h4 class="footer-column-title">{{ block.settings.title | escape }}</h4>
                {% endif %}

                <div class="footer-contact-details-3">
                  <div class="footer-contact-section">
                    {% if block.settings.email != blank %}
                      <a class="footer-email" href="mailto:{{ block.settings.email | escape }}">
                        {{- block.settings.email | escape -}}
                      </a>
                    {% endif %}

                    {% if block.settings.phone != blank %}
                      <a
                        class="footer-phone"
                        href="tel:{{ block.settings.phone | replace: ' ', '' | replace: '-', '' | replace: '(', '' | replace: ')', '' }}"
                      >
                        {{- block.settings.phone | escape -}}
                      </a>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      <div class="footer-richtext rte">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
                  </div>

                  {% if block.settings.show_social_icons %}
                    <div class="footer-contact-section">
                      <div class="footer-social-icons">
                        {%- render 'social-media', icon: settings.social_custom_icon, icon_height: 18 -%}
                      </div>
                    </div>
                  {% endif %}

                  {% if block.settings.show_payment_icons and section.settings.show_payment_icons %}
                    <div class="footer-contact-section">
                      <div class="footer-payment-logos">
                        {% for type in shop.enabled_payment_types %}
                          {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}

                  {% if block.settings.company_name != blank %}
                    <p class="footer-enterprise-name">{{ block.settings.company_name | escape }}</p>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="footer-copyright">
      <div class="footer-copyright-content">
        <div class="footer-copyright-left">
          {%- assign copyright_year = 'now' | date: '%Y' -%}
          <p class="footer-copyright-text">
            {% comment %} {{-
              'sections.footer.copyright_html'
              | t: year: copyright_year, shop_url: routes.root_url, shop_name: shop.name
            -}} {% endcomment %}
              We Must Copyright © 2026 All rights reserved.
          </p>

          {% if section.settings.show_powered_by %}
            <div class="footer-powered-by">
              {{ powered_by_link }}
            </div>
          {% endif %}
        </div>

        <div class="footer-copyright-right">
          {% if showing_localization %}
            <div class="footer-localization-wrap">
              {% render 'localization-form', id: 'footer-localization', hide_labels: true, promote_popular: true %}
            </div>
          {% endif %}

          {% if section.settings.show_payment_icons and has_contact_block == false %}
            <div class="footer-payment-logos footer-payment-logos--lower">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
              {% endfor %}
            </div>
          {% endif %}

          {% if section.settings.lower_menu != blank %}
            <div class="footer-legal-links" role="navigation" aria-label="{{ 'accessibility.secondary_navigation' | t }}">
              {% for link in linklists[section.settings.lower_menu].links %}
                <a class="footer-legal-link" href="{{ link.url }}">{{ link.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer",
  "max_blocks": 7,
  "settings": [
    {
      "type": "header",
      "content": "Brand"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer logo"
    },
    {
      "type": "range",
      "id": "footer_logo_width",
      "min": 60,
      "max": 320,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 150
    },
    {
      "type": "range",
      "id": "footer_logo_width_mobile",
      "min": 50,
      "max": 240,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo width",
      "default": 110
    },
    {
      "type": "link_list",
      "id": "lower_menu",
      "label": "Lower footer menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show 'Powered by Shopify'",
      "default": true
    },
    {
      "type": "header",
      "content": "Social media links",
      "info": "These are shown inside text, newsletter, and contact blocks."
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/Region Selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "Enable country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable language selector",
      "default": true
    },
    {
      "type": "color",
      "id": "footer_bg_color",
      "label": "Footer background color",
      "default": "#f8f8f8"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "menu",
      "name": "Links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items",
          "default": "footer"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text and social media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your store"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 30,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Footer image width",
          "default": 100
        },
        {
          "type": "header",
          "content": "Social media"
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social media links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "soc_icons_large",
          "label": "Use large social media icons",
          "default": false
        },
        {
          "type": "header",
          "content": "Follow on Shop",
          "info": "Display follow button for your storefront on the Shop app. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "default": false,
          "label": "Enable Follow on Shop"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
        },
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the accepts marketing customer list."
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social media links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "soc_icons_large",
          "label": "Use large social media icons",
          "default": false
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Custom Liquid"
        },
        {
          "type": "liquid",
          "id": "code",
          "label": "Liquid code"
        }
      ]
    },
    {
      "type": "contact",
      "limit": 1,
      "name": "Contact card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social media links",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show payment icons",
          "default": true
        },
        {
          "type": "text",
          "id": "company_name",
          "label": "Company name"
        }
      ]
    }
  ]
}
{% endschema %}
